@charset "UTF-8";

body{
    background-color: rgb(178, 216, 121);
    font-family: sans-serif;
}
h1{color: green;}

#principal{
    text-align: center;
    background-color: green;
    color: white;
}
h2{color: rgb(0, 22, 0);}
.basico{
    color: red;
    font-weight: 900;
}
.intermediario{
    color: yellow;
}
.avancado{
    color: green;
}
.destaque{
    background-color: rgb(226, 43, 150);
}
